body {
    background-color: var(--off-white);
    color: var(--off-black);
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: rgb(128, 128, 128);
    color: white;
    padding: 20px;
    text-align: right;
}

nav {
    background-color: var(--dark-blue);
    color: var(--off-white);
    padding: 10px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: var(--off-white);
    margin: 0 15px;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 0.8s;
}
nav a:hover, nav a.active {
    background-color: #66CC66;
}

nav .logo {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-right: 20px;
}

nav .logout-link {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}

nav .logout-link:hover {
    background-color: #f44336;
    text-decoration: underline;
}

.groups-container {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.group-box {
    flex: 0 0 calc(33.333% - 10px);
    height: 150px;
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.expanded-box {
    background-color: #FFC0CB;
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.close-button {
    width: 30px;
    height: 30px;
    background-color: #f44336;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    position: absolute;
    top: 161px;
    right: 0;
}

.expanded-box {
    display: none;
}

.expanded-box.visible {
    display: block;
}


.details-box {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.group-button {
    background-color: #0044cc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.group-button:hover {
    background-color: #003399;
}

